<div class="container" *ngIf="showItem">
    <app-recipe-item></app-recipe-item>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Recipe List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Recipe Name</th>
                    <th>Recipe Description</th>
                    <th>Image Path</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipe of recipes | async">
                    <td>{{recipe.name}}</td>
                    <td>{{recipe.description}}</td>
                    <td>{{recipe.imagePath}}</td>
                    <td><button (click)="deleteRecipe(recipe.id)" class="btn btn-danger">Delete</button>
                        <button (click)="recipeDetails(recipe.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                        <button (click)="updateRecipe(recipe.id)" class="btn btn-danger" style="margin-left: 10px">Update</button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <button (click)="addRecipe()" class="btn btn-info" style="margin-left: 10px">Add Recipe</button>
    </div>
</div>